$default_fz: 14;
$fz_md: $default_fz * 1.2;
$fz_lg: $default_fz * 1.4;

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $default_fz * 1px;
  font-weight: var(--fw-regular);
  line-height: var(--lh-body-1);

  min-width: 40px;
  gap: 8px;

  color: var(--white);

  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: none;
  z-index: var(--ui-index-1);

  transition: all var(--transition);

  box-sizing: border-box;

  &:active {
    transform: scale(0.95);
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;

    &:active {
      transform: none;
    }
  }

  .spinner {
    animation: slide-right var(--transition)
      cubic-bezier(0.68, -0.55, 0.265, 1.55) alternate both;
  }
}

.solid {
  color: var(--white);

  &.disabled {
    color: var(--white);
  }

  &.primary {
    background: var(--brand-600);

    @media (hover: hover) {
      &:hover {
        background: var(--brand-500);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          background: var(--brand-600);
        }
      }
    }
  }

  &.secondary {
    background: var(--brand-400);

    @media (hover: hover) {
      &:hover {
        background: var(--brand-300);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          background: var(--brand-400);
        }
      }
    }
  }

  &.success {
    background: var(--success-500);

    @media (hover: hover) {
      &:hover {
        background: var(--success-400);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          background: var(--success-500);
        }
      }
    }
  }

  &.warning {
    background: var(--warning-500);

    @media (hover: hover) {
      &:hover {
        background: var(--warning-400);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          background: var(--warning-500);
        }
      }
    }
  }

  &.danger {
    background: var(--error-500);

    @media (hover: hover) {
      &:hover {
        background: var(--error-400);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          background: var(--error-500);
        }
      }
    }
  }
}

.outlined {
  color: var(--grey-900);
  background: inherit;

  &.primary {
    color: var(--brand-600);
    border: 2px solid var(--brand-600);

    @media (hover: hover) {
      &:hover {
        color: var(--brand-500);
        border: 2px solid var(--brand-500);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--brand-600);
          border: 2px solid var(--brand-600);
        }
      }
    }
  }

  &.secondary {
    color: var(--brand-400);
    border: 2px solid var(--brand-400);

    @media (hover: hover) {
      &:hover {
        color: var(--brand-300);
        border: 2px solid var(--brand-300);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--brand-400);
          border: 2px solid var(--brand-400);
        }
      }
    }
  }

  &.success {
    color: var(--success-500);
    border: 2px solid var(--success-500);

    @media (hover: hover) {
      &:hover {
        color: var(--success-400);
        border: 2px solid var(--success-400);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--success-500);
          border: 2px solid var(--success-500);
        }
      }
    }
  }

  &.warning {
    color: var(--warning-500);
    border: 2px solid var(--warning-500);

    @media (hover: hover) {
      &:hover {
        color: var(--warning-400);
        border: 2px solid var(--warning-400);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--warning-500);
          border: 2px solid var(--warning-500);
        }
      }
    }
  }

  &.danger {
    color: var(--error-500);
    border: 2px solid var(--error-500);

    @media (hover: hover) {
      &:hover {
        color: var(--error-400);
        border: 2px solid var(--error-400);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--error-500);
          border: 2px solid var(--error-500);
        }
      }
    }
  }
}

.clear {
  background: inherit;

  &.primary {
    color: var(--grey-900);

    @media (hover: hover) {
      &:hover {
        color: var(--brand-600);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--grey-900);
        }
      }
    }
  }

  &.secondary {
    color: var(--grey-900);

    @media (hover: hover) {
      &:hover {
        color: var(--brand-400);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--grey-900);
        }
      }
    }
  }

  &.success {
    color: var(--success-500);

    @media (hover: hover) {
      &:hover {
        color: var(--success-400);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--success-500);
        }
      }
    }
  }

  &.warning {
    color: var(--warning-500);

    @media (hover: hover) {
      &:hover {
        color: var(--warning-400);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--warning-500);
        }
      }
    }
  }

  &.danger {
    color: var(--error-800);

    @media (hover: hover) {
      &:hover {
        color: var(--error-700);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--error-800);
        }
      }
    }
  }

  &.size_sm,
  &.size_md,
  &.size_lg {
    height: 100%;
    padding: 2px;
  }

  &.size_md {
    font-size: $fz_md * 1px;
  }

  &.size_lg {
    font-size: $fz_lg * 1px;
  }
}

.size_sm {
  height: 32px;
  padding: 0 12px;
}

.size_md {
  height: 40px;
  padding: 0 16px;
}

.size_lg {
  height: 48px;
  padding: 0 24px;
}

.radius_none {
  border-radius: 0;
}

.radius_sm {
  border-radius: var(--border-radius-sm);
}

.radius_md {
  border-radius: var(--border-radius-md);
}

.radius_lg {
  border-radius: var(--border-radius-lg);
}

.fullWidth {
  width: 100%;
}

@keyframes slide-right {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}
