$default_fz: 14;
$fz_md: $default_fz * 1.2;
$fz_lg: $default_fz * 1.4;

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $default_fz * 1px;
  font-weight: var(--fw-light);
  line-height: var(--lh);

  min-width: 40px;
  gap: 8px;

  color: var(--color-white);

  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: none;
  z-index: var(--ui-index-1);

  transition: all var(--transition);

  box-sizing: border-box;

  &:active {
    transform: scale(0.95);
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;

    &:active {
      transform: none;
    }
  }

  .spinner {
    animation: slide-right var(--transition)
      cubic-bezier(0.68, -0.55, 0.265, 1.55) alternate both;
  }
}

.solid {
  color: var(--color-white);

  &.disabled {
    color: var(--color-white);
  }

  &.primary {
    background: var(--color-primary);

    @media (hover: hover) {
      &:hover {
        background: var(--color-primary-hover);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          background: var(--color-primary);
        }
      }
    }
  }

  &.secondary {
    background: var(--color-secondary);

    @media (hover: hover) {
      &:hover {
        background: var(--color-secondary-hover);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          background: var(--color-secondary);
        }
      }
    }
  }

  &.success {
    background: var(--color-success);

    @media (hover: hover) {
      &:hover {
        background: var(--color-success-hover);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          background: var(--color-success);
        }
      }
    }
  }

  &.warning {
    background: var(--color-warning);

    @media (hover: hover) {
      &:hover {
        background: var(--color-warning-hover);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          background: var(--color-warning);
        }
      }
    }
  }

  &.danger {
    background: var(--color-error);

    @media (hover: hover) {
      &:hover {
        background: var(--color-error-hover);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          background: var(--color-error);
        }
      }
    }
  }
}

.outlined {
  color: var(--color-text);
  background: inherit;

  &:disabled {
    border: 2px solid var(--color-grey);
  }

  &.primary {
    color: var(--color-primary);
    border: 2px solid var(--color-primary);

    @media (hover: hover) {
      &:hover {
        color: var(--color-primary-hover);
        border: 2px solid var(--color-primary-hover);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--color-primary);
          border: 2px solid var(--color-primary);
        }
      }
    }
  }

  &.secondary {
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);

    @media (hover: hover) {
      &:hover {
        color: var(--color-secondary-hover);
        border: 2px solid var(--color-secondary-hover);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--color-secondary);
          border: 2px solid var(--color-secondary);
        }
      }
    }
  }

  &.success {
    color: var(--color-success);
    border: 2px solid var(--color-success);

    @media (hover: hover) {
      &:hover {
        color: var(--color-success-hover);
        border: 2px solid var(--color-success-hover);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--color-success);
          border: 2px solid var(--color-success);
        }
      }
    }
  }

  &.warning {
    color: var(--color-warning);
    border: 2px solid var(--color-warning);

    @media (hover: hover) {
      &:hover {
        color: var(--color-warning-hover);
        border: 2px solid var(--color-warning-hover);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--color-warning);
          border: 2px solid var(--color-warning);
        }
      }
    }
  }

  &.danger {
    color: var(--color-error);
    border: 2px solid var(--color-error);

    @media (hover: hover) {
      &:hover {
        color: var(--color-error-hover);
        border: 2px solid var(--color-error-hover);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--color-error);
          border: 2px solid var(--color-error);
        }
      }
    }
  }
}

.clear {
  background: inherit;

  &.primary {
    color: var(--color-text);

    @media (hover: hover) {
      &:hover {
        color: var(--color-primary);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--color-text);
        }
      }
    }
  }

  &.secondary {
    color: var(--color-text);

    @media (hover: hover) {
      &:hover {
        color: var(--color-secondary);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--color-text);
        }
      }
    }
  }

  &.success {
    color: var(--color-success);

    @media (hover: hover) {
      &:hover {
        color: var(--color-success-hover);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--color-success);
        }
      }
    }
  }

  &.warning {
    color: var(--color-warning);

    @media (hover: hover) {
      &:hover {
        color: var(--color-warning-hover);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--color-warning);
        }
      }
    }
  }

  &.danger {
    color: var(--color-error);

    @media (hover: hover) {
      &:hover {
        color: var(--color-error-hover);
      }
    }

    &:disabled {
      @media (hover: hover) {
        &:hover {
          color: var(--color-error);
        }
      }
    }
  }

  &.size_sm,
  &.size_md,
  &.size_lg {
    height: 100%;
    padding: 5px;
  }

  &.size_md {
    font-size: $fz_md * 1px;
  }

  &.size_lg {
    font-size: $fz_lg * 1px;
  }
}

.size_sm {
  height: 32px;
  padding: 0 12px;
}

.size_md {
  height: 40px;
  padding: 0 16px;
}

.size_lg {
  height: 48px;
  padding: 0 24px;
}

.radius_none {
  border-radius: 0;
}

.radius_sm {
  border-radius: 8px;
}

.radius_md {
  border-radius: 12px;
}

.radius_lg {
  border-radius: 14px;
}

.fullWidth {
  width: 100%;
}

@keyframes slide-right {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}
