.tabList {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
  overflow-x: inherit;
  overflow-y: hidden;
  height: 52px;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  cursor: pointer;

  &.active::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: var(--brand-600);
    border-radius: var(--border-radius-md);
  }
}
