.textAreaWrapper {
  border-radius: var(--border-radius-sm);
  border: 1.5px solid var(--grey-300);
  background: var(--white);

  overflow: hidden;

  padding: 15px;
  transition: all var(--transition);

  &.focused {
    box-shadow: 0px 0px 0px 5px var(--brand-100);
  }

  &.disabled,
  &.readonly {
    background: var(--grey-100);
    box-shadow: none;
  }

  &.error {
    border: 1.5px solid var(--error-200);
    box-shadow: 0px 0px 0px 5px var(--error-100);

    .textArea {
      color: var(--error-500);
    }
  }

  .textArea {
    color: var(--grey-900);
    background: transparent;
    width: 100%;
    font-size: var(--fs-body-1);
    resize: none;
    min-height: 62px;
    max-height: 320px;
    overflow-y: auto;

    &::placeholder {
      color: var(--grey-400);
    }
  }
}

.textAreaContainer {
  position: relative;

  .label,
  .hint,
  .maxLength {
    position: absolute;
  }

  .label {
    top: 0;
    left: 0;
    transform: translate(0, -22.5px);
    color: var(--grey-700);
  }

  .hint {
    bottom: 0;
    left: 0;
    transform: translate(0, 22.5px);
    color: var(--grey-600);

    &.error {
      color: var(--error-600);
    }
  }

  .maxLength {
    bottom: 0;
    right: 0;
    transform: translate(0, 22.5px);
  }
}
