$size: 18px;

.container {
  display: flex;
  align-items: center;
  gap: 10px;

  .label {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .radio {
    display: none;
  }

  .checkmark {
    height: 18px;
    width: 18px;
    border: 1.5px solid var(--grey-300);
    border-radius: var(--border-circul);
    background: var(--white);
    cursor: pointer;
  }

  &:hover .checkmark {
    border-color: var(--brand-500);
    background: var(--brand-100);
  }

  &:active .checkmark {
    box-shadow: 0px 0px 0px 5px var(--brand-100);
    border-color: var(--brand-300);
    transition: box-shadow 0.1s;
  }

  .radio:checked ~ .checkmark {
    position: relative;
    background: var(--grey-100);
    border-color: var(--brand-500);

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 7px;
      width: 7px;
      background: var(--brand-500);
      border-radius: var(--border-circul);
    }
  }

  .radio:disabled ~ .checkmark {
    cursor: default;
    box-shadow: none;
    background: var(--grey-100);
    border-color: var(--grey-200);

    &:after {
      background: var(--grey-200);
    }
  }

  .radio:disabled ~ .label {
    color: var(--grey-300);
  }
}
