.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: var(--ui-index-5);

  .content {
    position: fixed;
    height: calc(100vh + 100px);
    background: var(--white);
    border-radius: var(--border-radius-md);
    touch-action: none;
    padding: 20px;
    margin: 20px;
    z-index: var(--ui-index-5);
  }
}
