.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    90deg,
    var(--brand-500) 0%,
    var(--brand-600) 45%,
    var(--brand-700) 75%,
    var(--brand-900) 100%
  );

  z-index: var(--ui-index-4);

  &.clickable {
    cursor: pointer;
  }
}
