:root {
  // Typography
  --family: 'Inter';
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 24px;
  --fs-xxl: 32px;
  --fs-xxxl: 46px;
  --fw-light: 400;
  --fw-normal: 500;
  --fw-bold: 600;
  --lh: 20px;

  // Z-INDEX
  --ui-index-1: 1;
  --ui-index-2: 2;
  --ui-index-3: 3;
  --ui-index-4: 4;
  --ui-index-5: 5;

  // Colors
  --bg-primary: #f7f8fa;
  --bg-secondary: #f7f8fa;

  --color-primary: #7284fc;
  --color-primary-hover: #929ff7;

  --color-secondary: #bab8fa;
  --color-secondary-hover: #9b99d0;

  --color-text: #18191a;
  --color-text-disabled: rgba(0, 0, 0, 0.3);

  --color-white: #fdfff7;
  --color-black: #18191a;

  --color-grey: #ccc;
  --color-grey-hover: #bdbdbd;

  --color-success: #19c964;
  --color-success-hover: #15b457;

  --color-warning: #f4a423;
  --color-warning-hover: #d5901f;

  --color-error: #db1256;
  --color-error-hover: #ff0961;

  --box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;

  --bg-skeleton: #d8d8d9;
  --color-foreground: #e2e2e2;

  // animation
  --transition: 0.35s;
}
