.image,
.imageFallback {
  &.radius_none {
    border-radius: 0;
  }

  &.radius_xs {
    border-radius: var(--border-radius-xs);
  }

  &.radius_sm {
    border-radius: var(--border-radius-sm);
  }

  &.radius_md {
    border-radius: var(--border-radius-md);
  }

  &.radius_lg {
    border-radius: var(--border-radius-lg);
  }

  &.objectFit {
    &_contain {
      object-fit: contain;
    }

    &_cover {
      object-fit: cover;
    }

    &_fill {
      object-fit: fill;
    }

    &_none {
      object-fit: none;
    }

    &_scale-down {
      object-fit: scale-down;
    }
  }
}

.image {
  animation: blur 1s ease;
}

@keyframes blur {
  0% {
    filter: blur(var(--blur));
  }
  100% {
    filter: blur(0px);
  }
}
