.textFieldWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: end;

  border-radius: var(--border-radius-sm);
  border: 1.5px solid var(--grey-300);
  background: var(--white);

  overflow: hidden;

  height: 44px;
  transition: all var(--transition);

  &.focused {
    box-shadow: 0px 0px 0px 5px var(--brand-100);
  }

  &.disabled,
  &.readonly {
    background: var(--grey-100);
    box-shadow: none;
  }

  &.error {
    border: 1.5px solid var(--error-200);
    box-shadow: 0px 0px 0px 5px var(--error-100);
  }

  .leftAddon,
  .rightAddon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    padding: 0 15px;
    width: 50px;

    color: var(--grey-700);
    background: var(--grey-200);
  }

  .textField {
    color: var(--grey-900);
    background: transparent;
    width: 100%;
    padding: 5px 15px;
    font-size: var(--fs-body-1);

    &::placeholder {
      visibility: hidden;
    }

    &:-webkit-autofill,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active,
    &:-webkit-autofill::first-line,
    &:-webkit-autofill::placeholder {
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--grey-900);
      font-size: var(--fs-body-1);
    }

    &:focus ~ .label,
    &:not(:placeholder-shown) ~ .label {
      transform: translate(0, 0);
      font-size: 12px;
    }
  }

  .leftAddon ~ .label {
    top: 0;
    left: 46px;
    transform: translate(0, 55%);
  }

  .label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 55%);
    padding: 0;
    margin: 0 0 0 15px;
    color: var(--grey-400);
    pointer-events: none;
    transition: all var(--transition) ease;
  }

  .labelError {
    transform: translate(0, 0);
    font-size: 12px;
    color: var(--error-600);
  }
}
