.accordionItem {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .headerTitle {
      font-size: var(--fs-lg);
      font-weight: var(--fw-medium);
      line-height: var(--lh-body-1);
    }

    .arrowIcon {
      width: 24px;
      height: 24px;
      transition: transform var(--transition);
    }
  }

  .content {
    max-height: 0;
    overflow: hidden;
  }

  &.open {
    .content {
      max-height: 1000px;
      margin-top: 12px;
    }

    .arrowIcon {
      transform: rotate(90deg);
    }
  }
}
