.accordionItem {
  display: flex;
  flex-direction: column;
  transition: 0.4s;

  .buttonHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 2px 5px;

    .arrowIcon {
      width: 24px;
      height: 24px;
      transition: transform var(--transition);
    }
  }

  .content {
    overflow: hidden;
    padding: 0 5px;
    min-height: 0;
    height: 0;
    transition: all 0.4s;
  }

  &.open {
    .content {
      height: auto;
      margin-top: 12px;
    }

    .arrowIcon {
      transform: rotate(90deg);
    }
  }
}
